<section id="login">

  <div class="login-header w-fit mx-auto flex mb-4 gap-2  items-center">
    <img ngSrc="/images/logo.png" class="object-cover" width="51" height="70" alt="شعار المحافظه">
    <h1 class="text-[30px] font-bold text-center text-white dark:text-black">محافظة  <br>بني سويف</h1>

  </div>

  <form class="max-w-xl mx-auto">
    <div class="name-group mb-4">
        <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
      <i class="fa-regular fa-user text-gray-500 dark:text-gray-400"></i>
      </div>
      <input type="text" id="name-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="أسم المستخدم">
    </div>

    </div>
    <div class="password-group mb-5">
        <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
        <i class="fa-solid fa-lock text-gray-500 dark:text-gray-400"></i>
      </div>
      <input type="password" id="password-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="كلمة المرور">
    </div>

    </div>
    <button type="submit" class="py-2 px-5 me-2 mb-2 text-lg font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 w-full cursor-pointer">تسجيل الدخول</button>

  </form>


</section>
