:host {
  display: block;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .layout-user {
    flex-direction: column;
    ::ng-deep .nav-bar {
      width: 100%;
      height: auto;
    }
  }
}
