@media (max-width: 768px) {
  .activity-data {
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    .tabs-selection {
      flex-wrap: wrap;
      gap: 16px;
    }
  }
  .chart-data-section {
    flex-direction: column;
  }
}
