<section class="activity-data flex items-center justify-between">
  <section-header> {{ pageTitle }} </section-header>
  <div class="mb-6 flex items-center gap-4 tabs-selection">
    <div>
      <button
        (click)="resetData()"
        class="bg-white text-[#232238] px-8 py-3 rounded-md leading-[100%] cursor-pointer"
      >
        Reset
      </button>
    </div>
    <div>
      <el-dropdown class="inline-block">
        <button
          class="inline-flex py-3 w-[194px] justify-between gap-x-1.5 rounded-md px-3 bg-white text-[#232238] text-sm font-semibold inset-ring-1 inset-ring-white/5 cursor-pointer"
        >
          {{ centersNames }}
          <svg
            viewBox="0 0 20 20"
            fill="currentColor"
            data-slot="icon"
            aria-hidden="true"
            class="-mr-1 size-5 text-gray-400"
          >
            <path
              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>
        </button>

        <el-menu
          anchor="bottom end"
          popover
          class="w-56 origin-top-right divide-y divide-white/10 rounded-md bg-white outline-1 -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in"
        >
          @if(allCentersData.length > 0) {
          <div class="py-1">
            @for (center of allCentersData; track center.id) {
            <a
              (click)="
                centersName(center.id, center.name);
                $event.preventDefault();
                $event.stopPropagation()
              "
              href="#"
              class="block px-4 py-2 text-sm text-[#232238] focus:bg-white/5 focus:outline-hidden"
              >{{ center.name }}</a
            >
            }
          </div>
          }
        </el-menu>
      </el-dropdown>
    </div>
    <div>
      <el-dropdown class="inline-block">
        <button
          [disabled]="localUnitsData.length <= 0"
          class="inline-flex py-3 w-[194px] justify-between gap-x-1.5 rounded-md px-3 bg-white text-[#232238] text-sm font-semibold inset-ring-1 inset-ring-white/5 cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 disabled:bg-gray-200"
        >
          {{ localUnitsNames }}
          <svg
            viewBox="0 0 20 20"
            fill="currentColor"
            data-slot="icon"
            aria-hidden="true"
            class="-mr-1 size-5 text-gray-400"
          >
            <path
              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            />
          </svg>
        </button>

        <el-menu
          anchor="bottom end"
          popover
          class="w-56 origin-top-right divide-y divide-white/10 rounded-md bg-white outline-1 -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in"
        >
          @if(localUnitsData.length > 0) {
          <div class="py-1">
            @for (localUnit of localUnitsData; track $index) {
            <a
              (click)="
                localUnitsName(localUnit.id!, localUnit.name);
                $event.preventDefault();
                $event.stopPropagation()
              "
              href="#"
              class="block px-4 py-2 text-sm text-[#232238] focus:bg-white/5 focus:outline-hidden"
              >{{ localUnit.name }}</a
            >
            }
          </div>
          }
        </el-menu>
      </el-dropdown>
    </div>
  </div>
</section>

<section
  class="flex items-center justify-between h-full chart-data-section"
  [class.flex-col]="subId() == 5 || subId() == 9"
  [ngClass]="{
    'gap-4': subId() == 5 || subId() == 9,
    'gap-8': subId() != 5 && subId() != 9
  }"
>
  <div class="w-full">
    <app-chart-data
      [chartData]="governoratesRes"
      [chartTitle]="chartTitle()"
    ></app-chart-data>
  </div>
  <div class="w-full">
    <app-bar-chart
      [labels]="chartLabels()"
      [series]="chartSeries()"
    ></app-bar-chart>
  </div>
</section>
