@use "../../public/scss/configuration/configuration" as *;
@use "../../public/scss/resources/components/components" as *;

.sidebar {
  align-items: center;
  .nav {
    background-color: #27272a;
    margin: 0px 6px 0px 0px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        .logo-large {
          display: block;
        }
        .logo-small {
          display: none;
        }
      }
      .btn {
        display: none;
        cursor: pointer;
        position: relative;
        z-index: 99;
        &.btn-toggle {
          position: relative;
          width: 32px;
          height: 2px;
          background-color: $white;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background-color: $white;
            transition: all 0.3s ease;
          }
          &::before {
            top: -10px;
          }
          &::after {
            bottom: -10px;
          }
        }
      }
    }

    .menu {
      flex-grow: 1;

      ul {
        li {
          a {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 100%;
            img {
              filter: invert(45%) sepia(6%) saturate(432%) hue-rotate(202deg)
                brightness(96%) contrast(88%);
            }
          }
          &:last-child {
            align-self: flex-end;
            a {
              img {
                order: 1;
                filter: none;
              }
            }
          }
        }
      }
    }
  }
}

.active {
  @include activeLink();
  img {
    filter: invert(13%) sepia(43%) saturate(1639%) hue-rotate(350deg)
      brightness(97%) contrast(102%) !important;
  }
}

.show {
  inset-inline-end: 0% !important;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.close {
  height: 0;
  &.btn-toggle {
    height: 0 !important;
    &::before {
      top: -10px !important;
      bottom: auto !important;
      transform: rotate(-45deg) !important;
    }
    &::after {
      top: -10px !important;
      transform: rotate(45deg) !important;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    .nav {
      position: relative;
      padding: 0;
      margin: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      .header {
        background-color: #27272a;
        padding: 10px 20px;
        margin-bottom: 0;
        .logo {
          margin-bottom: 0;
          order: 1;
          .logo-large {
            display: none !important;
          }
          .logo-small {
            display: block !important;
          }
        }
        .btn {
          display: block;
        }
      }

      .menu {
        padding: 10px;
        background-color: #27272a;
        position: absolute;
        z-index: 9;
        inset-inline-end: 150%;
        width: 100%;
        top: 80%;

        transition: all 0.6s ease-in-out;

        ul {
          display: block;
          margin-top: 20px;

          li {
            a {
              padding: 10px 0px !important;
            }
          }
        }
      }
    }
  }
}
