<div class="sidebar flex flex-items-center">
  <nav class="nav my-auto h-screen w-full text-white p-4 rounded-lg">
    <div class="space-x-2 mb-4 header">
      <div class="logo">
        <img src="/images/logo/logo.svg" alt="Logo" class="h-10 logo-large" />
        <img src="/images/logo.png" alt="Logo" class="logo-small" />
      </div>
      <div>
        <button
          aria-label="toggleMenu"
          class="btn btn-toggle"
          [class.close]="isMenuOpen"
          (click)="toggleMenu()"
        ></button>
      </div>
    </div>
    <div class="menu" [class.show]="isMenuOpen">
      <ul class="space-y-4 flex flex-col gap-2">
        @for (item of items; track $index) {
        <li>
          <a
            (click)="closeMenu()"
            [routerLink]="item.router"
            routerLinkActive="active rounded-[56px]"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center gap-2"
          >
            <img class="pe-2 size-7" src="{{ item.img }}" alt="icon-smile" />
            {{ item.title }}
          </a>
        </li>
        }
      </ul>
    </div>
  </nav>
</div>
