.demo-chart {
  height: 400px;
}
:host ::ng-deep [echarts] {
  display: block;
  height: 400px;
  //   width: 100%;
}

.pie-chart {
  @media (max-width: 768px) {
    min-width: 90vw !important;
  }
}
